Repository Bevor-Protocol/protocol-dapp, changes with the labels that .github/labeler.yml gives for each.
All labels: root, Contracts, Tests, Database, App, API

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'

Contracts:
- changed-files:
  - any-glob-to-any-file: contracts/**

Tests:
- changed-files:
  - any-glob-to-any-file: cypress/**

Database:
- changed-files:
  - any-glob-to-any-file:
    - prisma/**
    - db/**

App:
- changed-files:
  - any-glob-to-any-file:
    - app/**
    - components/**
    - assets/**
    - lib/**

API:
- changed-files:
  - any-glob-to-any-file: actions/**

feature:
  - head-branch:
    - ^feat
    - ^feature

bug:
  - head-branch:
    - ^fix
    - ^bug
    - ^hotfix

re-add blob-url to env, update sc type
  .env.local.example
  lib/types.ts
Labels: root, App

add server action for contract read for withdrawals
  actions/audits/general.ts
  actions/contractRead.ts
Labels: API

begin reworking withdrawal and vesting functionality
  app/audits/view/[slug]/page.tsx
  components/screens/audits/view/actions/withdraw.tsx
  components/screens/audits/view/history.tsx
  components/screens/audits/view/index.tsx
  components/screens/audits/view/markdown.tsx
  components/screens/audits/view/vesting/display.tsx
  components/screens/audits/view/vesting/index.tsx
  contracts/abis/BevorProtocol.ts
Labels: Contracts, App

update labeler workflow
  .github/workflows/labeler.yml
Labels: none

add concurrency to workflow
  .github/workflows/cy.yml
  .github/workflows/labeler.yml
Labels: none

change on event in labeler yml
  .github/workflows/labeler.yml
Labels: none

update seeder for decimal input amounts
  prisma/seed-onchain.ts
Labels: Database

create a functioning withdraw() function
  actions/contractRead.ts
  components/Modal/Content/onchain/revealAudit.tsx
  components/screens/audits/view/vesting/display.tsx
  components/screens/audits/view/vesting/index.tsx
  contracts/abis/BevorProtocol.ts
  lib/hooks.tsx
Labels: Contracts, App, API

Feat/withdraw functionality (#45)
  .env.local.example
  .github/workflows/cy.yml
  .github/workflows/labeler.yml
  actions/audits/general.ts
  actions/contractRead.ts
  app/audits/view/[slug]/page.tsx
  components/Modal/Content/onchain/revealAudit.tsx
  components/screens/audits/view/actions/withdraw.tsx
  components/screens/audits/view/history.tsx
  components/screens/audits/view/index.tsx
  components/screens/audits/view/markdown.tsx
  components/screens/audits/view/vesting/display.tsx
  components/screens/audits/view/vesting/index.tsx
  contracts/abis/BevorProtocol.ts
  lib/hooks.tsx
  lib/types.ts
  prisma/seed-onchain.ts
Labels: root, Contracts, Database, App, API

begin updating form for Token select
  components/Audit/client/form.tsx
  components/Form/index.tsx
  components/screens/audits/create/index.tsx
  lib/constants.ts
Labels: App

update zod validations, being adding token to form
  components/screens/audits/create/index.tsx
  components/screens/audits/edit/index.tsx
  lib/validations.ts
Labels: App

create migration, include token in seeder
  components/screens/audits/edit/index.tsx
  prisma/migrations/20240527202750_add_token_to_audit_table/migration.sql
  prisma/schema.prisma
  prisma/seed-offchain.ts
Labels: Database, App

incorporate token symbol in displays
  actions/audits/general.ts
  actions/users.ts
  app/user/[slug]/page.tsx
  components/Audit/client/form.tsx
  components/Audit/index.tsx
  components/screens/audits/view/index.tsx
  components/screens/user/index.tsx
  lib/types.ts
Labels: App, API

add references to token symbol throughout
  actions/contractRead.ts
  components/Modal/Content/onchain/initiateAudit.tsx
  components/Modal/Content/onchain/revealAudit.tsx
  components/screens/audits/view/vesting/display.tsx
  components/screens/audits/view/vesting/index.tsx
Labels: App, API

remove extra log
  components/Modal/Content/requestAccountChange.tsx
Labels: App

Feat/erc20 selection (#46)
  actions/audits/general.ts
  actions/contractRead.ts
  actions/users.ts
  app/user/[slug]/page.tsx
  components/Audit/client/form.tsx
  components/Audit/index.tsx
  components/Form/index.tsx
  components/Modal/Content/onchain/initiateAudit.tsx
  components/Modal/Content/onchain/revealAudit.tsx
  components/Modal/Content/requestAccountChange.tsx
  components/screens/audits/create/index.tsx
  components/screens/audits/edit/index.tsx
  components/screens/audits/view/index.tsx
  components/screens/audits/view/vesting/display.tsx
  components/screens/audits/view/vesting/index.tsx
  components/screens/user/index.tsx
  lib/constants.ts
  lib/types.ts
  lib/validations.ts
  prisma/migrations/20240527202750_add_token_to_audit_table/migration.sql
  prisma/schema.prisma
  prisma/seed-offchain.ts
Labels: Database, App, API

completely remove UserProvider, create SiweProvider
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/Dropdown/Content/profile.tsx
  components/Layout/Nav/web3.tsx
  components/Modal/Content/siwe/networks.tsx
  components/Modal/Content/siwe/requestAccountChange.tsx
  components/Modal/Content/siwe/signin.tsx
  components/Modal/index.tsx
  lib/hooks.tsx
  lib/types.ts
  providers/modal/index.tsx
  providers/siwe/context.ts
  providers/siwe/index.tsx
  providers/user/context.ts
  providers/user/index.tsx
  tailwind.config.js
Labels: root, App

remove unused useUser() hooks
  components/screens/audits/create/index.tsx
  components/screens/audits/edit/index.tsx
Labels: App

move wallet selection to panel, fix absolute x button
  components/Layout/Nav/web3.tsx
  components/Panel/Content/history.tsx
  components/Panel/Content/wallets.tsx
  components/Panel/Content/wishlist.tsx
Labels: App

Fix/siwe flow (#47)
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/Dropdown/Content/profile.tsx
  components/Layout/Nav/web3.tsx
  components/Modal/Content/signin.tsx
  components/Modal/Content/siwe/requestAccountChange.tsx
  components/Modal/Content/siwe/signin.tsx
  components/Modal/index.tsx
  components/Panel/Content/history.tsx
  components/Panel/Content/wallets.tsx
  components/Panel/Content/wishlist.tsx
  components/screens/audits/create/index.tsx
  components/screens/audits/edit/index.tsx
  lib/hooks.tsx
  lib/types.ts
  providers/modal/index.tsx
  providers/siwe/context.ts
  providers/siwe/index.tsx
  providers/user/context.ts
  providers/user/index.tsx
  tailwind.config.js
Labels: root, App

hotfix: update networks
  providers/wallet/config.ts
Labels: none

hotfix: add type to import
  providers/wallet/config.ts
Labels: none

remove signer from seeding script
  prisma/seed-offchain.ts
  prisma/seed-onchain.ts
Labels: Database

fix bag in nav holder where user is signed in, but doesn't exist in DB
  components/Dropdown/Content/profile.tsx
  components/Layout/Nav/web3.tsx
  components/Layout/index.tsx
Labels: App

Update seeder script (#48)
  components/Dropdown/Content/profile.tsx
  components/Layout/Nav/web3.tsx
  components/Layout/index.tsx
  prisma/seed-offchain.ts
  prisma/seed-onchain.ts
Labels: Database, App

remove .env files, update package.json to use doppler
  .env.example
  .env.local.example
  package.json
  yarn.lock
Labels: root

update vercel-build script for doppler multiple commands
  package.json
Labels: root

add prevercel-build step
  package.json
Labels: root

update cypress workflow
  .github/workflows/cy.yml
Labels: none

attempt github marketplace action for doppler
  .github/workflows/cy.yml
Labels: none

fix doppler action
  .github/workflows/cy.yml
Labels: none

remove .env files, update package.json to use doppler (#49)
  .env.example
  .env.local.example
  .github/workflows/cy.yml
  package.json
  yarn.lock
Labels: root

fix validation schema error response
  constants/web3.ts
  utils/helpers.ts
  utils/validations.ts
Labels: none

update for new server action refactor
  actions/audit/audit.controller.ts
  actions/audit/auditor/index.ts
  actions/audit/index.ts
  actions/audit/owner/index.ts
  actions/audit/owner/owner.controller.ts
  actions/roles/roles.service.ts
  actions/user/index.ts
  app/user/[slug]/page.tsx
  components/Audit/client/form.tsx
  components/Modal/Content/auditorAttest.tsx
  components/Modal/Content/userEdit.tsx
  components/Panel/Content/wishlist.tsx
  components/screens/user/index.tsx
  constants/queryKeys.ts
  utils/error.ts
Labels: App, API

revert unstable_cache, add page to revalidatePath()
  actions/audit/auditor/index.ts
  actions/audit/index.ts
  actions/audit/owner/index.ts
  actions/user/index.ts
  app/user/[slug]/page.tsx
  components/Modal/Content/userEdit.tsx
  utils/helpers.ts
Labels: App, API

update wishlist revalidation with error handling, add check for approval on contract write
  actions/audit/audit.controller.ts
  actions/auth/auth.controller.ts
  actions/contract/contract.controller.ts
  actions/stat/stat.controller.ts
  actions/user/user.controller.ts
  actions/wishlist/index.ts
  actions/wishlist/wishlist.controller.ts
  app/audits/view/[slug]/page.tsx
  app/user/[slug]/page.tsx
  components/Audit/client/form.tsx
  components/Modal/Content/onchain/revealAudit.tsx
  components/screens/audits/view/history.tsx
  components/screens/leaderboard/index.tsx
  components/screens/user/audits.tsx
  components/screens/user/wishlist.tsx
Labels: App, API

fix linting on new wishlist request
  components/Panel/Content/wishlist.tsx
Labels: App

Feat/ondemand revalidation (#50)
  actions/audit/audit.controller.ts
  actions/audit/auditor/index.ts
  actions/audit/index.ts
  actions/audit/owner/index.ts
  actions/auth/auth.controller.ts
  actions/contract/contract.controller.ts
  actions/stat/stat.controller.ts
  actions/user/index.ts
  actions/user/user.controller.ts
  actions/wishlist/index.ts
  actions/wishlist/wishlist.controller.ts
  app/audits/view/[slug]/page.tsx
  app/user/[slug]/page.tsx
  components/Audit/client/form.tsx
  components/Modal/Content/onchain/revealAudit.tsx
  components/Modal/Content/userEdit.tsx
  components/Panel/Content/wishlist.tsx
  components/screens/audits/view/history.tsx
  components/screens/leaderboard/index.tsx
  components/screens/user/audits.tsx
  components/screens/user/wishlist.tsx
  utils/helpers.ts
Labels: App, API

refactor actions to move catches into controller. Generalize toast component
  actions/audit/audit.controller.ts
  actions/audit/audit.service.ts
  actions/audit/auditor/auditor.controller.ts
  actions/audit/auditor/index.ts
  actions/audit/index.ts
  actions/audit/owner/index.ts
  actions/audit/owner/owner.controller.ts
  actions/stat/stat.controller.ts
  actions/user/index.ts
  actions/user/user.controller.ts
  actions/wishlist/index.ts
  actions/wishlist/wishlist.controller.ts
  actions/wishlist/wishlist.service.ts
  app/layout.tsx
  components/Modal/Content/onchain/initiateAudit.tsx
  components/Modal/Content/userEdit.tsx
  components/Panel/Content/wishlist.tsx
  components/Toast/Content/error.tsx
  components/Toast/Content/transaction.tsx
  components/Toast/index.tsx
  components/screens/audits/view/actions/locked.tsx
  components/screens/audits/view/actions/open.tsx
  components/screens/audits/view/history.tsx
  components/screens/user/audits.tsx
  components/screens/user/wishlist.tsx
  hooks/useContexts.ts
  hooks/useContractWriteListen.tsx
  providers/events/context.ts
  providers/events/index.tsx
  providers/modal/context.ts
  providers/modal/index.tsx
  providers/siwe/context.ts
  providers/toast/context.ts
  providers/toast/index.tsx
  reducers/index.ts
  utils/error.ts
  utils/types/enum.ts
  utils/types/index.ts
  utils/types/providers.ts
Labels: App, API

add error decorator, refactor auth guards and roles logic
  .vscode/settings.json
  actions/audit/audit.controller.ts
  actions/audit/auditor/auditor.controller.ts
  actions/audit/auditor/auditor.service.ts
  actions/audit/auditor/index.ts
  actions/audit/owner/owner.controller.ts
  actions/auth/auth.controller.ts
  actions/auth/auth.service.ts
  actions/roles/roles.service.ts
  actions/user/index.ts
  actions/user/user.controller.ts
  actions/wishlist/index.ts
  actions/wishlist/wishlist.controller.ts
  app/user/[slug]/page.tsx
  components/Modal/Content/auditorAttest.tsx
  components/Modal/Content/userEdit.tsx
  components/Panel/Content/wishlist.tsx
  components/screens/audits/view/actions/index.tsx
  components/screens/audits/view/actions/locked.tsx
  components/screens/user/wishlist.tsx
  package.json
  prisma/schema.prisma
  tsconfig.json
  utils/decorators.ts
  utils/error.ts
  utils/types/index.ts
  yarn.lock
Labels: root, Database, App, API
