Repository Bevor-Protocol/protocol-dapp, changes with the labels that .github/labeler.yml gives for each.
All labels: root, Contracts, Tests, Database, App, API

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'

Contracts:
- changed-files:
  - any-glob-to-any-file: contracts/**

Tests:
- changed-files:
  - any-glob-to-any-file: cypress/**

Database:
- changed-files:
  - any-glob-to-any-file:
    - prisma/**
    - db/**

App:
- changed-files:
  - any-glob-to-any-file:
    - app/**
    - components/**
    - assets/**
    - lib/**

API:
- changed-files:
  - any-glob-to-any-file: actions/**

feature:
  - head-branch:
    - ^feat
    - ^feature

bug:
  - head-branch:
    - ^fix
    - ^bug
    - ^hotfix

isolate roleerror to specific fetch, fix owner history
  .husky/pre-push
  actions/audit/auditor/auditor.controller.ts
  actions/audit/owner/index.ts
  actions/audit/owner/owner.controller.ts
  actions/audit/owner/owner.service.ts
  actions/roles/roles.service.ts
  components/screens/audits/create/index.tsx
  utils/error.ts
Labels: App, API

improve shared error handling throughout app
  actions/audit/audit.controller.ts
  actions/audit/auditor/auditor.controller.ts
  actions/audit/auditor/index.ts
  actions/audit/index.ts
  actions/audit/owner/index.ts
  actions/audit/owner/owner.controller.ts
  actions/blob/blob.service.ts
  actions/user/index.ts
  actions/user/user.controller.ts
  actions/wishlist/index.ts
  actions/wishlist/wishlist.controller.ts
  components/Modal/Content/auditorAttest.tsx
  components/Modal/Content/requestsEdit.tsx
  components/Modal/Content/uploadFindings.tsx
  components/Modal/Content/userEdit.tsx
  components/Panel/Content/wishlist.tsx
  components/Toast/Content/error.tsx
  components/Toast/Content/transaction.tsx
  components/screens/audits/create/index.tsx
  components/screens/audits/edit/index.tsx
  components/screens/audits/view/actions/locked.tsx
  components/screens/audits/view/actions/open.tsx
  components/screens/user/onboard.tsx
  hooks/useContexts.ts
  providers/toast/index.tsx
  utils/decorators.ts
  utils/error.ts
  utils/types/enum.ts
  utils/types/index.ts
  utils/validations.ts
Labels: App, API

fade in toggled components
  components/Audit/index.tsx
  components/screens/audits/index.tsx
  components/screens/leaderboard/data.tsx
  components/screens/leaderboard/index.tsx
  tailwind.config.js
Labels: root, App

change audit to accept enum instead of string
  actions/audit/audit.controller.ts
  actions/audit/audit.service.ts
  actions/audit/index.ts
  app/audits/page.tsx
  components/Layout/index.tsx
  components/screens/audits/index.tsx
Labels: App, API

enable migration reversions, build out notifications endpoints
  .vscode/settings.json
  README.md
  actions/history/history.controller.ts
  actions/history/history.service.ts
  actions/history/index.ts
  actions/index.ts
  actions/stat/index.ts
  actions/stat/stat.controller.ts
  actions/user/user.service.ts
  app/audits/view/[slug]/page.tsx
  app/users/[slug]/page.tsx
  components/Dropdown/Content/profile.tsx
  components/Layout/Nav/web3.tsx
  components/Layout/index.tsx
  components/Panel/Content/notifications.tsx
  components/screens/audits/view/history.tsx
  components/screens/user/audits.tsx
  package.json
  prisma/down/20240929175505_add_history_view_table/migration.sql
  prisma/migrations/20240929175505_add_history_view_table/migration.sql
  prisma/schema.prisma
  prisma/scripts/migration_generate.sh
  prisma/scripts/migration_revert.sh
  prisma/scripts/seed-offchain.ts
  prisma/scripts/seed-onchain.ts
  prisma/scripts/seed.sh
  prisma/seed.sh
  utils/browser.ts
  utils/types/index.ts
  utils/types/prisma.ts
Labels: root, Database, App, API

enable migration reversions, build out notifications endpoints
  actions/audit/audit.service.ts
  utils/types/prisma.ts
Labels: API

revamp user notification controller and styling
  actions/history/history.controller.ts
  actions/history/history.service.ts
  actions/history/index.ts
  components/Dropdown/Content/profile.tsx
  components/Layout/Nav/web3.tsx
  components/Layout/index.tsx
  components/Link/index.tsx
  components/Panel/Content/notifications.tsx
  components/Panel/index.tsx
  utils/types/prisma.ts
Labels: App, API

update workflow yaml
  .github/workflows/cy.yml
Labels: none

testing isolated workflows
  .github/workflows/build.yml
  .github/workflows/cy.yml
  .github/workflows/test.yml
Labels: none

add doppler env to workflow
  .github/workflows/test.yml
Labels: none

share doppler env
  .github/workflows/build.yml
Labels: none

truncate workflow
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

remove special character
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

setup pg in yaml
  .github/workflows/build-and-test.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

remove all mentions of auditee, change to owner. Create toast out animation + options
  .github/workflows/build-and-test.yml
  app/audits/create/page.tsx
  components/Modal/Content/userEdit.tsx
  components/Toast/index.tsx
  components/screens/audits/create/index.tsx
  components/screens/audits/view/actions/locked.tsx
  components/screens/audits/view/actions/ongoing.tsx
  components/screens/audits/view/actions/open.tsx
  components/screens/user/index.tsx
  components/screens/user/onboard.tsx
  hooks/useContexts.ts
  hooks/useErrorToast.tsx
  providers/toast/context.ts
  providers/toast/index.tsx
  tailwind.config.js
  utils/types/providers.ts
Labels: root, App

refactor toast provider
  actions/audit/owner/index.ts
  components/Modal/Content/auditorAttest.tsx
  components/Modal/Content/requestsEdit.tsx
  components/Modal/Content/uploadFindings.tsx
  components/Modal/Content/userEdit.tsx
  components/Toast/Content/error.tsx
  components/Toast/index.tsx
  components/screens/audits/create/index.tsx
  components/screens/audits/edit/index.tsx
  components/screens/audits/view/actions/locked.tsx
  components/screens/audits/view/actions/open.tsx
  components/screens/user/onboard.tsx
  hooks/useContexts.ts
  hooks/useContractWriteListen.tsx
  hooks/useErrorToast.tsx
  providers/toast/context.ts
  providers/toast/index.tsx
  reducers/index.ts
  utils/types/providers.ts
Labels: App, API

separate panel + modal hooks
  actions/audit/owner/index.ts
  components/Dropdown/Content/profile.tsx
  components/Layout/Nav/web3.tsx
  components/Modal/Content/auditorAttest.tsx
  components/Modal/Content/onchain/initiateAudit.tsx
  components/Modal/Content/onchain/revealAudit.tsx
  components/Modal/Content/requestsEdit.tsx
  components/Modal/Content/uploadFindings.tsx
  components/Modal/Content/userEdit.tsx
  components/Modal/index.tsx
  components/Panel/Content/history.tsx
  components/Panel/Content/notifications.tsx
  components/Panel/Content/wallets.tsx
  components/Panel/Content/wishlist.tsx
  components/screens/audits/view/actions/locked.tsx
  components/screens/audits/view/actions/ongoing.tsx
  components/screens/audits/view/actions/open.tsx
  components/screens/audits/view/history.tsx
  components/screens/user/actions.tsx
  hooks/useContexts.ts
  providers/modal/context.ts
  providers/modal/index.tsx
  tailwind.config.js
  utils/types/providers.ts
Labels: root, App, API

refactor toast provider, update throughout
  components/Modal/Content/auditorAttest.tsx
  components/Modal/Content/requestsEdit.tsx
  components/Modal/Content/uploadFindings.tsx
  components/Modal/Content/userEdit.tsx
  components/Modal/index.tsx
  components/Panel/index.tsx
  components/Toast/Content/success.tsx
  components/Toast/index.tsx
  components/screens/audits/create/index.tsx
  components/screens/audits/edit/index.tsx
  components/screens/audits/view/actions/locked.tsx
  components/screens/audits/view/actions/open.tsx
  components/screens/user/onboard.tsx
  hooks/useContexts.ts
  hooks/useContractWriteListen.tsx
  package.json
  providers/modal/index.tsx
  providers/siwe/index.tsx
  providers/toast/context.ts
  providers/toast/index.tsx
  tailwind.config.js
  utils/types/providers.ts
  yarn.lock
Labels: root, App

remove bug in disconnected wallet
  components/Form/index.tsx
  components/Layout/Nav/web3.tsx
  components/Modal/Content/userEdit.tsx
  components/Panel/Content/wishlist.tsx
  providers/siwe/index.tsx
Labels: App

Feat/toast and panel css (#51)
  components/Dropdown/Content/profile.tsx
  components/Form/index.tsx
  components/Layout/Nav/web3.tsx
  components/Modal/Content/auditorAttest.tsx
  components/Modal/Content/onchain/initiateAudit.tsx
  components/Modal/Content/onchain/revealAudit.tsx
  components/Modal/Content/requestsEdit.tsx
  components/Modal/Content/uploadFindings.tsx
  components/Modal/Content/userEdit.tsx
  components/Modal/index.tsx
  components/Panel/Content/history.tsx
  components/Panel/Content/notifications.tsx
  components/Panel/Content/wallets.tsx
  components/Panel/Content/wishlist.tsx
  components/Panel/index.tsx
  components/Toast/Content/success.tsx
  components/Toast/index.tsx
  components/screens/audits/create/index.tsx
  components/screens/audits/edit/index.tsx
  components/screens/audits/view/actions/locked.tsx
  components/screens/audits/view/actions/ongoing.tsx
  components/screens/audits/view/actions/open.tsx
  components/screens/audits/view/history.tsx
  components/screens/user/actions.tsx
  components/screens/user/onboard.tsx
  hooks/useContexts.ts
  hooks/useContractWriteListen.tsx
  hooks/useErrorToast.tsx
  package.json
  providers/modal/context.ts
  providers/modal/index.tsx
  providers/siwe/index.tsx
  providers/toast/context.ts
  providers/toast/index.tsx
  reducers/index.ts
  tailwind.config.js
  utils/types/providers.ts
  yarn.lock
Labels: root, App

start fixing dynamic network issue
  actions/audit/audit.service.ts
  actions/contract/contract.service.ts
  components/Audit/client/form.tsx
  components/Audit/index.tsx
  components/Modal/Content/onchain/revealAudit.tsx
  components/screens/audits/view/history.tsx
  components/screens/audits/view/index.tsx
  components/screens/audits/view/vesting/index.tsx
  constants/web3.ts
  hooks/useContractWriteListen.tsx
Labels: App, API

completely refactor session data, update throughout
  actions/audit/audit.controller.ts
  actions/audit/audit.service.ts
  actions/audit/auditor/auditor.controller.ts
  actions/audit/owner/owner.controller.ts
  actions/audit/owner/owner.service.ts
  actions/auth/auth.controller.ts
  actions/auth/auth.service.ts
  actions/auth/index.ts
  actions/notification/notification.controller.ts
  actions/roles/roles.service.ts
  actions/user/index.ts
  actions/user/user.controller.ts
  actions/user/user.service.ts
  actions/wishlist/wishlist.controller.ts
  app/audits/create/page.tsx
  app/audits/edit/[slug]/page.tsx
  app/audits/page.tsx
  app/audits/view/[slug]/page.tsx
  app/leaderboard/page.tsx
  app/users/[slug]/page.tsx
  app/users/page.tsx
  components/Form/index.tsx
  components/Layout/index.tsx
  components/Loader/index.tsx
  components/Modal/Content/requestsEdit.tsx
  components/screens/audits/edit/index.tsx
  components/screens/audits/index.tsx
  components/screens/audits/view/actions/open.tsx
  components/screens/audits/view/history.tsx
  components/screens/audits/view/index.tsx
  components/screens/audits/view/markdown.tsx
  components/screens/leaderboard/index.tsx
  components/screens/user/users.tsx
  providers/siwe/index.tsx
  utils/session.ts
Labels: App, API

add mock connector, attempt cypress tests
  app/users/[slug]/page.tsx
  components/Modal/Content/siwe/signin.tsx
  components/screens/user/onboard.tsx
  cypress/e2e/create-user.cy.ts
  package.json
  providers/siwe/index.tsx
  providers/wallet/config.ts
  yarn.lock
Labels: root, Tests, App

comment out test
  cypress/e2e/create-user.cy.ts
Labels: Tests

update wallet config, wip mock api endpoint
  app/api/mock/route.ts
  cypress/e2e/create-user.cy.ts
  providers/wallet/config.ts
Labels: Tests, App

fix build errors
  app/api/mock/route.ts
  app/audits/edit/[slug]/page.tsx
  app/audits/view/[slug]/page.tsx
  app/users/[slug]/page.tsx
  components/Dropdown/Content/profile.tsx
  components/Layout/Nav/web3.tsx
  components/Modal/Content/onchain/revealAudit.tsx
Labels: App

update ci
  .github/workflows/build-and-test.yml
Labels: none

update workflow for neon branching
  .github/workflows/build-and-test.yml
  .github/workflows/close-preview-branch.yml
  cypress/downloads/downloads.html
  db/index.ts
Labels: Tests, Database

add token to workflow, set env for db
  .github/workflows/build-and-test.yml
Labels: none

add back ws
  .github/workflows/build-and-test.yml
  db/index.ts
Labels: Database

echo output
  .github/workflows/build-and-test.yml
Labels: none

add db to neon option
  .github/workflows/build-and-test.yml
Labels: none

fix comment step
  .github/workflows/build-and-test.yml
Labels: none

uppercase in commenter
  .github/workflows/build-and-test.yml
Labels: none

update write permission
  .github/workflows/build-and-test.yml
Labels: none

temp remove cypress test
  .github/workflows/build-and-test.yml
Labels: none

add pr comment_tag
  .github/workflows/build-and-test.yml
Labels: none

fix default leaderboard filtering, update ci
  .github/workflows/build-and-test.yml
  actions/user/user.service.ts
  app/leaderboard/page.tsx
  components/screens/leaderboard/index.tsx
Labels: App, API

re-add doppler ci
  .github/workflows/build-and-test.yml
Labels: none

re-add doppler
  .github/workflows/build-and-test.yml
Labels: none
