Repository Bevor-Protocol/protocol-dapp, changes with the labels that .github/labeler.yml gives for each.
All labels: root, Contracts, Tests, Database, App, API

fix users list flashing
  .github/workflows/build-and-test.yml
  components/User/index.tsx
  components/screens/user/users.tsx
Labels: App

update state fct
  actions/audit/audit.service.ts
Labels: API

add check for auditor attestation
  actions/audit/audit.service.ts
Labels: API

update ABI and address structure
  actions/contract/contract.service.ts
  components/Modal/Content/onchain/initiateAudit.tsx
  components/Modal/Content/onchain/revealAudit.tsx
  components/screens/audits/view/vesting/display.tsx
  constants/web3.ts
  contracts/abis/Audit.ts
  contracts/abis/BevorProtocol.ts
  contracts/abis/ERC20Token.ts
  db/scripts/seed-offchain.ts
  db/scripts/seed-onchain.ts
Labels: Contracts, Database, App, API

Fix/audit state update for drizzle (#53)
  actions/audit/audit.service.ts
  actions/contract/contract.service.ts
  components/Modal/Content/onchain/initiateAudit.tsx
  components/Modal/Content/onchain/revealAudit.tsx
  components/screens/audits/view/vesting/display.tsx
  constants/web3.ts
  contracts/abis/Audit.ts
  contracts/abis/BevorProtocol.ts
  contracts/abis/ERC20Token.ts
  db/scripts/seed-offchain.ts
  db/scripts/seed-onchain.ts
Labels: Contracts, Database, App, API

Fix/audit state update for drizzle (#53)
  actions/audit/audit.service.ts
  actions/contract/contract.service.ts
  app/audits/create/page.tsx
  app/audits/edit/[slug]/page.tsx
  app/audits/page.tsx
  app/audits/view/[slug]/page.tsx
  app/globals.css
  app/layout.tsx
  app/leaderboard/page.tsx
  app/page.tsx
  app/users/[slug]/page.tsx
  app/users/page.tsx
  components/Audit/client/form.tsx
  components/Audit/index.tsx
  components/Form/index.tsx
  components/Layout/Nav/menuItems.tsx
  components/Layout/index.tsx
  components/Modal/Content/onchain/initiateAudit.tsx
  components/Modal/Content/onchain/revealAudit.tsx
  components/font/index.ts
  components/screens/audits/index.tsx
  components/screens/audits/view/vesting/display.tsx
  components/screens/home/index.tsx
  components/screens/leaderboard/data.tsx
  components/screens/user/audits.tsx
  components/screens/user/index.tsx
  components/screens/user/users.tsx
  components/screens/user/wishlist.tsx
  constants/web3.ts
  contracts/abis/Audit.ts
  contracts/abis/BevorProtocol.ts
  contracts/abis/ERC20Token.ts
  db/scripts/seed-offchain.ts
  db/scripts/seed-onchain.ts
Labels: Contracts, Database, App, API

Fix/audit state update for drizzle (#53) (#54)
  app/audits/create/page.tsx
  app/audits/edit/[slug]/page.tsx
  app/audits/page.tsx
  app/audits/view/[slug]/page.tsx
  app/globals.css
  app/layout.tsx
  app/leaderboard/page.tsx
  app/page.tsx
  app/users/[slug]/page.tsx
  app/users/page.tsx
  components/Audit/client/form.tsx
  components/Audit/index.tsx
  components/Form/index.tsx
  components/Layout/Nav/menuItems.tsx
  components/Layout/index.tsx
  components/font/index.ts
  components/screens/audits/index.tsx
  components/screens/home/index.tsx
  components/screens/leaderboard/data.tsx
  components/screens/user/audits.tsx
  components/screens/user/index.tsx
  components/screens/user/users.tsx
  components/screens/user/wishlist.tsx
Labels: App

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'

Contracts:
- changed-files:
  - any-glob-to-any-file: contracts/**

Tests:
- changed-files:
  - any-glob-to-any-file: cypress/**

Database:
- changed-files:
  - any-glob-to-any-file:
    - prisma/**
    - db/**

App:
- changed-files:
  - any-glob-to-any-file:
    - app/**
    - components/**
    - assets/**
    - lib/**

API:
- changed-files:
  - any-glob-to-any-file: actions/**

feature:
  - head-branch:
    - ^feat
    - ^feature

bug:
  - head-branch:
    - ^fix
    - ^bug
    - ^hotfix
